/* Variables */
:root {
  --color-1: #696cb7; /* Light purple */
  --color-2: #686cb7; /* Medium dark purple */
  --color-3: #444367; /* Dark purple */
  --color-4: #5257b7; /* Purple */
  --color-5: #76c284; /* Green */
  --color-6: #73c96e;/* Light green */
  --color-7: #7ad676; /* Blue green */
  --color-8: #69a8b7; /* Blue */
  --color-9: #5c5b5b; /* Very dark gray */
  --color-10: #a9a9a9; /* Dark gray */
  --color-11: #848484; /* Medium gray */
  --color-12: #ccc;    /* Light gray */
  --color-13: #fafafa; /* Very light gray */
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  grid-area: header;
  background-color: var(--color-1);
  color: #fff;
  padding: .75em;
}

header a {
  color: #fff;
}

h1 {
  margin: .25em 0;
  font-size: 1.5em;
}

h2 {
  color: var(--color-9);
}

h3 {
  text-transform: uppercase;
  color: var(--color-10);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "content-header"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
}

aside {
  grid-area: aside;
  background-color: var(--color-3);
  text-align: center;
}

.sidebar-nav li a {
  padding: .75em 0;
  margin: .5em 0;
  display: block;
}

.sidebar-nav .active {
  border-left: 3px solid var(--color-6);
  border-top: 3px solid var(--color-3);
  border-bottom: 3px solid var(--color-3);
}

.sidebar-nav a {
  border-left: 3px solid var(--color-3);
  color: var(--color-10);
}

.sidebar-nav .active {
  color: #fff
}

.sidebar-nav svg path {
  fill: var(--color-10);
}

.sidebar-nav .active path {
  fill: #fff;
}

.sidebar-nav span {
  display: none;
}

.icon-dashboard,
.icon-members,
.icon-visits,
.icon-settings {
  width: 24px;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.logo {
  margin-right: auto;
}

.notification {
  padding-right: 1em;
}

.user-nav {
  border-left: 1px solid var(--color-4);
  padding: .5em 0 .5em 1em;
  font-size: .85em;
}

.header-nav li a {
  display: flex;
  align-items: center;
}

.user-nav span {
  padding-left: .5em;
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bolder;
}

.icon-notification {
  width: 24px;
}

.notification-link {
  padding: .5em;
}

.notification {
  position: relative;
}

.notification-indicator {
  font-size: 48px;
  color: var(--color-6);
  position: absolute;
  top: -36px;
  right: 16px;
}

.icon-user {
  width: 32px;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "aside main";
}

.content-header {
  grid-area: content-header;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

@media (max-width: 320px) {
  header {
    padding: .25em;
  }
  header ul {
    margin: 0 .25em;
  }
  h1,
  header li {
    font-size: 1em;
  }
  .notification {
    padding-right: 0;
  }
  .notification-indicator {
    right: 4px;
  }
  .user-nav {
    padding-left: .5em;
    font-size: .75em;
  }
}

@media (min-width: 375px) {
  .user-nav {
    font-size: 1em;
  }
  .container {
    grid-template-columns: 56px auto;
  }
  .icon-dashboard,
  .icon-members,
  .icon-visits,
  .icon-settings {
    width: 32px;
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content-header content-header"
      "traffic        traffic"
      "daily-traffic  mobile-users"
      "social-stats   social-stats"
      "new-members    recent-activity"
      "message-user   settings";
  }
  .container {
    grid-template-columns: 72px auto;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "content-header content-header  content-header"
      "traffic        traffic         daily-traffic"
      "social-stats   social-stats    mobile-users"
      "new-members    recent-activity recent-activity"
      "settings       message-user    message-user";
  }
  .container {
    grid-template-columns: 150px auto;
  }
  .sidebar-nav span {
    display: inline-block;
  }
  .sidebar-nav li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* .sidebar-nav li a > * {
    display: inline-block;
  } */
}
