// ======================================
//  Variables
// ======================================

// Theme colors
$theme-primary: ( // purple
  1: #444367,
  2: #5257b7,
  3: #686cb7,
);

$theme-secondary: ( // green
  1: #7ad676,
  2: #73c96e,
  3: #76c284,
  4: #69a8b7,
);

$theme-tertiary: ( // gray
  1: #5c5b5b,
  2: #848484,
  3: #a9a9a9,
  4: #ccc,
  5: #fafafa,
);
