form {
  color: map-get($theme-tertiary, 1);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  border: 1px solid map-get($theme-tertiary, 4);
  border-radius: 4px;
  padding: .5em;
  width: 100%;
  outline: 0;
  font-size: .9em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
textarea {
  padding: .75em;
}

.message-user .btn-confirm {
  width: 100%;
  @media (min-width: 768px) {
    max-width: 300px;
  }
}

.btn-confirm {
  background-color: map-get($theme-primary, 3);
}

.btn-cancel {
  background-color: map-get($theme-tertiary, 4);
}

.btn-confirm, .btn-cancel {
  border-radius: 4px;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
  border: none;
  outline: 0;
  cursor: pointer;
}

.btn-confirm:active,
.btn-cancel:active {
  opacity: .7;
}

.search-bar {
  position: relative;
  fieldset {
    @media (min-width: 768px) {
      width: 50%;
      max-width: 450px;
      padding-right: 1em;
    }
    @media (min-width: 1024px) {
      padding-right: 1.5em;
    }
  }
  input {
    padding-right: 2.5em;
    &::placeholder {
      color: map-get($theme-tertiary, 4);
    }
  }
  button {
    position: absolute;
    top: 10px;
    right: 2px;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: pointer;
    img {
      height: 20px;
    }
    @media (min-width: 768px) {
      top: 21px;
      right: 16px;
    }
    @media (min-width: 1024px) {
      right: 24px;
    }
  }
  @media (min-width: 768px) {
    background-color: map-get($theme-tertiary, 5);
    border-bottom: 1px solid map-get($theme-tertiary, 4);
    border-left: 1px solid map-get($theme-tertiary, 4);
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin: auto 0;
  width: 84px;
  height: 34px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: map-get($theme-primary, 3);
      .on {
        opacity: 1;
      }
      .off {
        opacity: 0;
      }
      &:before {
        transform: translateX(50px);
      }
    }
  }
  & .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($theme-tertiary, 4);
    transition: .4s;
    transition-property: background-color;
    @include flexy($disp: flex, $just: space-between, $align-items: center);
    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      transition-property: transform;
    }
    .on,
    .off {
      user-select: none;
      padding: 0 .5em;
      color: #fff;
    }
    .on {
      opacity: 0;
    }
    .off {
      opacity: 1;
    }
  }
}

.message-user {
  input,
  textarea {
    margin-bottom: 1em;
    background-color: map-get($theme-tertiary, 5);
    color: map-get($theme-tertiary, 1);
    &::placeholder {
      color: map-get($theme-tertiary, 4);
    }
  }
  textarea {
    height: 120px;
  }
}

.settings {
  & form {
    height: calc(100% - 50px);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto) 50px;
    .switch-label {
      margin: auto 0;
    }
    #time-zone {
      grid-column-start: 1;
      grid-column-end: -1;
      margin: 1em 0;
    }
    fieldset {
      grid-column-start: 1;
      grid-column-end: -1;
      position: relative;
    }
    .icon-arrow-down {
      position: absolute;
      top: 19px;
      right: 2px;
    }
  }
}
