form {
  color: map-get($theme-tertiary, 1);
}

input,
textarea,
select {
  // display: block;
  border: 1px solid map-get($theme-tertiary, 4);
  border-radius: 4px;
  padding: .5em;
  width: 100%;
  outline: 0;
}

.search-bar {
  position: relative;
  input {
    &::placeholder {
      color: map-get($theme-tertiary, 4);
    }
    &:focus + button {
      display: none;
    }
  }
  button {
    position: absolute;
    top: 7px;
    right: 2px;
    background-color: none;
    border: none;
    outline: 0;
    cursor: pointer;
    img {
      height: 20px;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 34px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: map-get($theme-primary, 3);
      .on {
        // display: inline-block;
        opacity: 1;
      }
      .off {
        // display: none;
        opacity: 0;
      }
      &:before {
        transform: translateX(50px);
      }
    }
    // &:focus + .slider {
    //   box-shadow: 0 0 1px map-get($theme-primary, 3);
    // }
  }
  & .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: map-get($theme-tertiary, 4);
    // transition: .4s;
    @include flexy($disp: flex, $just: space-between, $align-items: center);
    &:before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      transition-property: transform;
    }
    .on,
    .off {
      user-select: none;
      padding: 0 .5em;
      color: #fff;
    }
    .on {
      // display: none;
      opacity: 0;
    }
    .off {
      // display: inline-block;
      opacity: 1;
    }
  }
}

.settings form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  .switch-label {
    margin: auto 0;
  }
}

#time-zone {
  grid-column-start: 1;
  grid-column-end: -1;
}
