// ======================================
//  Grid
// ======================================

.search {
  grid-area: search;
}

.container {
  display: grid;
  grid-template-columns: minmax(48px, auto) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "aside search"
    "aside main";
}

.main {
  background-color: map-get($theme-tertiary, 4);
  grid-gap: 1px;
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "traffic        traffic"
      "daily-traffic  mobile-users"
      "social-stats   social-stats"
      "new-members    recent-activity"
      "message-user   settings";
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "traffic        traffic         daily-traffic"
      "social-stats   social-stats    mobile-users"
      "new-members    recent-activity recent-activity"
      "message-user   message-user    settings";
  }
}

.main > div,
.search {
  padding: .5em;
  background-color: #fff;
  @media (min-width: 768px) {
    padding: 1em;
  }
  @media (min-width: 1024px) {
    padding: 1.5em;
  }
}

.search {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 175px auto;
    padding-top: 0;
    padding-right: 0;
  }
}

.search-bar {
  @media (min-width: 768px) {
    @include flexy($disp: flex, $just: flex-end, $align-items: center);
  }
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
  display: grid;
  grid-gap: .5em;
  h3 {
    @include fullWidthGridItem;
  }
  .network {
    padding: .5em;
    border: 1px solid map-get($theme-tertiary, 4);
    border-radius: 4px;
    background-color: map-get($theme-tertiary, 5);
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas:
      "icon name"
      "icon stats";
    @media (min-width: 1024px) {
      padding: 1em;
    }
  }
  h4 {
    grid-area: name;
    color: map-get($theme-primary, 3);
  //   font-weight: bolder;
    font-size: 1em;
    margin: auto 0 0 8px;
  }
  .icon-bg {
    grid-area: icon;
  }
  .stats {
    grid-area: stats;
    font-size: 2em;
    color: map-get($theme-tertiary, 2);
    margin: 0 0 auto 8px;
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.new-members ul,
.recent-activity ul {
  background-color: map-get($theme-tertiary, 4);
  display: grid;
  grid-gap: 1px;
  .member,
  .activity {
    background-color: #fff;
    display: grid;
    grid-template-columns: 32px auto 60px;
    grid-template-areas:
      "left-column  middle-top     right-column"
      "left-column  middle-bottom  right-column";
    grid-gap: 6px;
  }
}

.profile-pic,
.date {
  margin: auto;
}

.left-column {
  grid-area: left-column;
}

.user,
.action {
  grid-area: middle-top;
  margin-bottom: 0;
}

.email,
.ago {
  grid-area: middle-bottom;
  margin-top: 0;
}

.right-column {
  grid-area: right-column;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}
