// ======================================
//  Grid
// ======================================

.content-header {
  grid-area: content-header;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

.container {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "aside main";
  @media (min-width: 375px) {
    grid-template-columns: 56px auto;
  }
  @media (min-width: 768px) {
    grid-template-columns: 72px auto;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 150px auto;
  }
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "content-header"
    "traffic"
    "daily-traffic"
    "mobile-users"
    "social-stats"
    "new-members"
    "recent-activity"
    "message-user"
    "settings";
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content-header content-header"
      "traffic        traffic"
      "daily-traffic  mobile-users"
      "social-stats   social-stats"
      "new-members    recent-activity"
      "message-user   settings";
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "content-header content-header  content-header"
      "traffic        traffic         daily-traffic"
      "social-stats   social-stats    mobile-users"
      "new-members    recent-activity recent-activity"
      "message-user   settings        ...";
  }
}
