// ======================================
//  Header
// ======================================

.header {
  grid-area: header;
  background-color: map-get($theme-primary, 3);
  color: #fff;
  padding: .75em;
  @media (max-width: 320px) {
    padding: .25em;
  }
}

.header a {
  color: #fff;
}

.header-nav > ul {
  @include flexy($disp: flex, $just: flex-end, $align-items: center);
  padding: 0;
  @media (max-width: 320px) {
    margin: 0 .25em;
  }
  & > li > a {
    @include flexy($disp: flex, $align-items: center);
  }
}

.logo {
  margin-right: auto;
}

.user-nav {
  border-left: 1px solid map-get($theme-primary, 2);
  padding: .5em 0 .5em 1em;
  font-size: 1em;
  @media (max-width: 320px) {
    padding-left: .5em;
  }
  & span {
    padding-left: .5em;
    @media (max-width: 375px) {
      display: none;
    }
  }
}

.notification-link {
  padding: .5em;
}

.notification {
  padding-right: 1em;
  position: relative;
  @media (max-width: 320px) {
    padding-right: 0;
  }
}

.notification-list {
  position: absolute;
  right: 1em;
  background-color: map-get($theme-tertiary, 4);
  margin: 0;
  width: 200px;
  display: none; // grid when visible
  grid-gap: 2px;
  border: 2px solid map-get($theme-tertiary, 4);
  & li {
    padding-left: .5em;
    color: map-get($theme-primary, 1);
    background-color: #fff;
    @include flexy($disp: flex, $just: space-between, $align-items: center);
  }
  & a {
    color: map-get($theme-primary, 1);
    padding: .5em;
  }
}

.notification-indicator {
  font-size: 48px;
  color: map-get($theme-secondary, 2);
  position: absolute;
  top: -36px;
  right: 16px;
  @media (max-width: 320px) {
    right: 4px;
  }
}

.icon-user {
  width: 32px;
  border-radius: 50%;
}
