// ======================================
//  Icons
// ======================================

.icon-dashboard,
.icon-members,
.icon-visits,
.icon-settings,
.icon-notification {
  width: 24px;
}

.icon-dashboard,
.icon-members,
.icon-visits,
.icon-settings {
  @media(min-width: 375px) {
    width: 32px;
  }
}

.icon-notification:hover path {
  fill: map-get($theme-secondary, 1);
}

.profile-pic {
  width: 32px;
  border-radius: 50%;
}

.icon-arrow-right {
  fill: map-get($theme-primary, 3);
}

.arrow {
  text-align: right;
}
