// ======================================
//  Typography
// ======================================

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bolder;
}

.alert {
  color: #fff;
  background-color: map-get($theme-primary, 3);
  border-radius: 4px;
  padding: 1em 1.5em;
  font-size: .85em;
  line-height: 1.5;
  @include fullWidthGridItem;
  @include flexy($disp: flex, $align-items: baseline, $just: flex-start);
  & span {
    padding-right: .5em;
  }
  & .close {
    font-size: 1.5em;
    margin-left: auto;
    padding: .25em .5em;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    margin-right: 1em;
  }
  @media (min-width: 1024px) {
    margin-right: 1.5em;
  }
}

.new-members,
.recent-activity {
  font-size: .875em;
  .member {
    a {
      color: map-get($theme-primary, 3);
      &:hover {
        opacity: .8;
      }
    }
  }
  .activity {
    color: inherit;
    &:hover {
      opacity: .8;
    }
  }
}
