// ======================================
//  Typography
// ======================================

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bolder;
}

.alert {
  color: #fff;
  background-color: map-get($theme-primary, 3);
  border-radius: 4px;
  padding: 1em 1.5em;
  font-size: .85em;
  transition: 2s;
  opacity: 1;
  transition-property: opacity;
  line-height: 1.5;
  @include fullWidthGridItem;
  @include flexy($disp: flex, $align-items: baseline, $just: flex-start);
  & span {
    padding-right: .5em;
  }
  & .close {
    font-size: 1.5em;
    margin-left: auto;
    padding: .25em .5em;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    margin-right: 1em;
  }
  @media (min-width: 1024px) {
    margin-right: 24px;
  }
}

.new-members a {
  color: map-get($theme-primary, 2);
}
.activity {
  color: inherit;
}

.new-members a:hover,
.activity:hover {
  opacity: .8;
}

.member,
.activity {
  font-size: .95em;
  @media (max-width: 320px) {
    font-size: .9em;
  }
  @media (min-width: 1024px) {
    font-size: 1em;
  }
}
