// ======================================
//  Base
// ======================================

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  margin: .25em 0;
  font-size: 1.5em;
  @media (max-width: 320px) {
    font-size: 1em;
  }
}

h2 {
  color: map-get($theme-tertiary, 1);
}

h3 {
  text-transform: uppercase;
  color: map-get($theme-tertiary, 3);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
